.form-container {
  @include flex-center;
  height: auto;
  margin: 20px 10px;

  input {
    background-color: transparent;
    border: 1px solid $primary;
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: left;
    color: #343434;
    &:focus {
      outline: none;
    }
  }
  button {
    background-color: $primary;
    color: white;
    border: none;
    width: 50%;
    height: 40px;
  }
}

.form-input {
  @include flex-center;
  @include max(568px) {
    flex-direction: column;
  }
  margin: 20px;
  width: 100vw;
  border-left: 20vw solid red;
  border-right: 20vw solid red;
}
