.todo-container {
  width: 100vw;
  margin: 0px 10px;
  padding: 0 30px;
  border-left: 20vw solid transparent;
  border-right: 20vw solid transparent;
  @include max(568px) {
    flex-direction: column;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  ul {
    line-height: 45px;
    font-weight: bold;
    font-size: 15px;
    color: $main-txt;
  }
  li {
    border-bottom: 1px solid rgb(222, 222, 222);
    width: 95%;
  }
}

.li-container {
  @include flex-center;
  justify-content: space-between;
  i {
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
    color: $primary;
  }
}
